<img class="pokemon" src="<%= @pokemon.img_url %>">

<h2><%= @pokemon.name %></h2>

<ul>
  <li>Type: <%= @pokemon.poke_type %></li>
  <li>Combat Power: <%= @pokemon.cp %></li>
  <li>Master: <%= @trainer %></li>
</ul>

<!-- Edit button -->
<form action="/<%= @pokemon.id %>/edit">
  <button>Edit Pokemon</button>
</form>

<!-- Delete button -->
<form action="/<%= @pokemon.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
  <button type="submit">Delete Pokemon</button>
</form>

<!-- Back to Pokemon List button -->
<form action="/">
  <button>Back to Pokemon list</button>
</form>
